assessment-soapwebservices/src/main/mule/assessment-soapwebservices.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/wsc http://www.mulesoft.org/schema/mule/wsc/current/mule-wsc.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="a08de0e2-7a41-435e-95f5-87ae3047603f" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<wsc:config name="Web_Service_Consumer_Config" doc:name="Web Service Consumer Config" doc:id="fddff88a-c5ea-4a94-b738-c54727f5bc0b" >
		<wsc:connection wsdlLocation="http://calculator-webservice.mybluemix.net/calculator?wsdl" service="CalculatorService" port="CalculatorPort" address="http://calculator-webservice.mybluemix.net/calculator" />
	</wsc:config>
	<flow name="assessment-soapwebservicesFlow" doc:id="d471efea-9fac-4a9a-bcf3-93cee15b4f21" >
		<http:listener doc:name="Listener" doc:id="379c33e2-8726-45fb-9f1d-a0e2f22d7e52" config-ref="HTTP_Listener_config" path="/soapweb"/>
		<ee:transform doc:name="Transform Message" doc:id="4dba5b74-5c3c-48e5-83ac-db2f6858da4b" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
ns ns0 http://example.com/
---
{
	ns0#add: {
		intA: 25,
		intB: 25
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<wsc:consume operation="add" doc:name="Consume" doc:id="271fd211-6b31-4ae2-aba9-029f4a5ee226" config-ref="Web_Service_Consumer_Config"/>
		<ee:transform doc:name="Transform Message" doc:id="b62d262b-773c-4b3a-a8f9-3f2802057b6f" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0ns ns0 http://example.com/

output application/json
---
{
	"ADD results": payload.body.ns0#addResponse.value
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
