sub-vis/src/main/mule/sub-vis.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="c49f7df6-dc06-4513-8af5-492c8b4f5cc9" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="sub-visFlow" doc:id="7e737fa7-ac44-4b31-9693-39abc82b734e" >
		<http:listener doc:name="Listener" doc:id="9ad8dec0-e5b7-426c-837d-77034c857675" config-ref="HTTP_Listener_config" path="/subflow"/>
		<set-payload value='#["error handle first flow"]' doc:name="Set Payload" doc:id="c47d43c3-fdd8-4633-85fe-66afbe27adf4" />
		<flow-ref doc:name="Flow Reference" doc:id="2a381055-ff9e-47bd-a787-f15beecf83d5" name="sub-visSub_Flow"/>
	</flow>
	<sub-flow name="sub-visSub_Flow" doc:id="28204a10-92cd-43e3-b319-5223873acb4a" >
		<try doc:name="Try" doc:id="1aae2532-16ef-46b1-a88f-169670667575" >
			<http:request method="GET" doc:name="Request" doc:id="065c07ff-e65d-41c5-a3ed-75f408bb617f" url="k,ghtfgd" />
			<set-payload value='#["error handle after request flow"]' doc:name="Set Payload" doc:id="ea337313-e242-4b94-9525-bd15fdfb1697" />
			<error-handler>
				<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="b0f1463a-3c08-4859-b87a-8797cbf3e51c" type="HTTP:CONNECTIVITY">
					<set-payload value='#["error handle inside try block error handle"]' doc:name="Set Payload" doc:id="0b30df22-8dcd-441a-9498-47240660620f" />
				</on-error-continue>
			</error-handler>
		</try>
	</sub-flow>
</mule>
