database-viswanath/src/main/mule/database-viswanath.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="4671e372-e3ff-413a-818a-d37a70ba1575" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<db:config name="Database_Config" doc:name="Database Config" doc:id="617ae02f-5802-4ec8-a557-b0127f0bfb55" >
		<db:mssql-connection host="muletraining.database.windows.net" port="1433" user=" user" password="muletraining@123" databaseName="MuleDB" />
	</db:config>
	<flow name="database-viswanathFlow" doc:id="5872e971-ab06-4dd8-90ea-6c194461b3a0" >
		<http:listener doc:name="Listener" doc:id="0c8aaf26-542c-4c39-a4b5-277a36da8249" config-ref="HTTP_Listener_config" path="/database"/>
		<db:select doc:id="cadea3cb-2308-41bf-8433-f6f0c05b19da" doc:name="select" config-ref="Database_Config">
			<db:sql ><![CDATA[select * from SalesLT.Customer where FirstName = 'Bob']]></db:sql>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="3fd11d9a-1bcc-43ed-abbf-9027b5b26974" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="85c7a738-b1e1-4654-a850-fa227ccfe707" message="#[payload]"/>
	</flow>
</mule>
