flows1/src/main/mule/flows1.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="73dc44fa-2eef-4133-ab63-f5d66a0db2e0" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="flows1Flow" doc:id="fc4016f8-0672-476c-bc17-b24c48a7b1f0" >
		<http:listener doc:name="Listener" doc:id="9ed8ec4f-9e7a-42fa-8139-9a2fb0fa5eb9" config-ref="HTTP_Listener_config" path="/flow"/>
		<set-payload value='#["this is first flow"]' doc:name="Set Payload" doc:id="63852794-a534-49c7-ae32-d676c340ac35" />
		<flow-ref doc:name="Flow Reference" doc:id="f3e0d0b6-3d47-4e25-a4b8-afa3b372e0f9" name="flows1Sub_Flow"/>
	</flow>
	<sub-flow name="flows1Sub_Flow" doc:id="61c3f118-9946-4dc4-92e0-0c69c50dd48d" >
		<set-payload value='#["this is subflow"]' doc:name="Set Payload" doc:id="3c576a0f-af41-4fee-95ac-cb5d35f42c2d" />
	</sub-flow>
</mule>
