choice-request2/src/main/mule/choice-request2.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/wsc http://www.mulesoft.org/schema/mule/wsc/current/mule-wsc.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="9df2771d-33e7-4010-ad5b-824f2f765859" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<wsc:config name="Web_Service_Consumer_Config" doc:name="Web Service Consumer Config" doc:id="a5598d35-be9c-43cd-9018-278d612ef280" >
		<wsc:connection wsdlLocation="http://dneonline.com/calculator.asmx?wsdl" service="Calculator" port="CalculatorSoap12" address="http://dneonline.com/calculator.asmx" />
	</wsc:config>
	<flow name="choice-request2Flow" doc:id="617d34b8-c252-4398-904d-75f7d10a5559" >
		<http:listener doc:name="Listener" doc:id="abe71a19-b272-4c40-9eda-fc8dc2253e0d" config-ref="HTTP_Listener_config" path="/choice-request"/>
		<logger level="INFO" doc:name="Logger" doc:id="28e8a2aa-4781-4e2d-8717-6fd4a43f6b67" message="#[payload]"/>
		<choice doc:name="Choice" doc:id="b67592f1-8f07-4477-aa0d-df7e622c571c" >
			<when expression='#[payload."operation" == "add"]'>
				<logger level="INFO" doc:name="Logger" doc:id="92b17bdf-4bc0-4415-89f3-4d70be5f7e16" message="addition operation is getting excuted"/>
				<wsc:consume doc:name="Consume" doc:id="e354690e-694c-4046-a5dd-d0192539f322" config-ref="Web_Service_Consumer_Config" operation="Add"/>
				<ee:transform doc:name="Transform Message" doc:id="617c0a93-5455-409f-9f4d-502cb30d0aec" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
{
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</when>
			<when expression='#[payload."operation" == "sub"]'>
				<logger level="INFO" doc:name="Logger" doc:id="28029cb9-4c37-416f-a0e2-b8b86620f91d" message="Substraction operation is getting executed"/>
				<wsc:consume doc:name="Consume" doc:id="92cfa6d7-d8fd-4d65-a02e-0df52eb11baf" config-ref="Web_Service_Consumer_Config"/>
			</when>
		</choice>
	</flow>
</mule>
