assessment4-3/src/main/mule/assessment4-3.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="6ebf3193-eadd-45cf-b727-ac94c4d08cc6" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<db:config name="Database_Config" doc:name="Database Config" doc:id="5832b756-d337-4f04-87be-685af0e75f99" >
		<db:my-sql-connection host="localhost" port="3306" user="root" password="root" database="assessment4" />
	</db:config>
	<flow name="assessment4-3Flow" doc:id="610337a7-b8ca-4b7d-9055-ec71b9464e8f" >
		<http:listener doc:name="Listener" doc:id="2691df39-a986-4cd7-941f-84e3d9fae7ff" config-ref="HTTP_Listener_config" path="/test1"/>
		<db:select doc:id="93ecfccb-c41d-4acf-b3c6-0b0a7cff48e8" config-ref="Database_Config">
			<db:sql ><![CDATA[SELECT * FROM assessment4.account_details where account_no=:no;]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
	no: attributes.queryParams.no
}]]]></db:input-parameters>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="d55fbb76-c178-4fe9-9499-57da053dd065" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="assessment4-3Flow1" doc:id="9e57895f-cbdf-460a-a3bc-f9337e5b47ac" >
		<http:listener doc:name="Listener" doc:id="3efc6af3-e280-43a4-bac9-3ab362026408" config-ref="HTTP_Listener_config" path="/insert"/>
		<db:insert doc:name="Insert" doc:id="036bf649-99be-4b95-842c-22b265f3a010" config-ref="Database_Config">
			<db:sql ><![CDATA[INSERT INTO assessment4.account_details(account_no,name,mobile_no,address)
values (2048,"suman",76545567,"kadapa")]]></db:sql>
		</db:insert>
		<ee:transform doc:name="Transform Message" doc:id="c9fd2490-0b22-4f83-a0f4-484abe48b3fc" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
 payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
