javacalldw/src/main/mule/javacalldw.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="814478ef-77d4-455a-a032-df323c50f3a7" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="javacalldwFlow" doc:id="89c85b0b-1315-4061-a89f-d9e4ba672a7f" >
		<http:listener doc:name="Listener" doc:id="2d5c3cd9-9253-4e9d-83c0-dd1fd3e79973" config-ref="HTTP_Listener_config" path="/dwjavacall"/>
		<ee:transform doc:name="Transform Message" doc:id="14207409-fb90-4da1-8db3-37dc3caa72b4" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
import java!muleandjava::muleandjavademo
---
{
	Note: muleandjavademo::getwelcomeMessage(),
	Name: "Viswa",
	age: "24",
	Address: "Kadapa"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="d78649d9-fc12-4ae3-815a-442b61e00777" message="#[payload]"/>
	</flow>
</mule>
